@model SistemaControleAdvocaticio.Apresentacao.ViewModel.ClienteViewModel

@{
    ViewData["Title"] = "Cliente - Excluir";
}

<div class="p-5">
    <form class="user" asp-action="Deletar" asp-controller="Cliente">
        <input asp-for="Codigo" type="hidden" id="idCodigo" /> 
        <input asp-for="Cpf" type="hidden" id="idCpf" />
        <h3>Deseja realmente excluir o cliente : @(Model.Nome)?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Endereco)
            </dd>
        </dl>

        <hr />

        <button type="submit" class="btn btn-primary btn-user btn-block" id="idLogin">Excluir</button>
    </form>
</div>