@model SistemaControleAdvocaticio.Apresentacao.ViewModel.ClienteViewModel

@{
    ViewData["Title"] = "Cliente - Lista";
}

<div class="p-5">
    <form class="user" asp-action="Listar" asp-controller="Cliente">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model.ListaCliente)
                {
                    <tr>
                        <td>@(cliente.Cpf)</td>
                        <td>@(cliente.Nome)</td>
                        <td>@(cliente.Endereco)</td>
                        <td>@Html.ActionLink("Editar", "Editar", new { codigo = cliente.Codigo })</td>
                        <td>@Html.ActionLink("deletar", "Deletar", new { id = cliente.Codigo })</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </form>
</div>